* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  body {
    background-color: black;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-sign-in {
    user-select: none;
    display: flex;
    justify-content: center;
    border: 1px white solid;
    border-radius: 32px;
    height: 450px;
    width: 400px;
    margin-top: 153px;
    margin-right: -23px;
  }
  .container {
    color: white;
  }
  .container h1 {
    color: white;
    margin-top: 50px;
    margin-left: 107px;
  }
  .Login {
    margin-bottom: 50px;
    margin-top: 5px;
  }
  .Login input {
    background-color: black;
    border: none;
    border-bottom: 1px SOLID white;
    width: 294px;
    height: 40px;
  }
  .Login input::placeholder {
    position: relative;
    color: white;
  }
  .Login input[type="Email"] {
    color: white;
    padding-left: 2px;
  }
  .Login i {
    position: relative;
    right: 25px;
    color: white;
  }
  .password input {
    background-color: black;
    border: none;
    border-bottom: 1px SOLID white;
    width: 294px;
    height: 40px;
  }
  .password input[type="password"] {
    color: white;
    padding-left: 2px;
  }
  .password i {
    display: flex;
    position: relative;
    left: 277px;
    color: white;
    top: -29px;
  }
  #unlock {
    display: none;
  }
  .password input::placeholder {
    position: relative;
    color: white;
  }
  .password input[type="text"] {
    color: white;
    padding-left: 2px;
  }
  .user-slection {
    display: flex;
    margin-top: 20px;
  }
  .user-slection button {
    width: 10px;
    height: 11px;
    margin-top: 5px;
    margin-right: 10px;
  }
  .xxbutt {
    position: relative;
    bottom: 5px;
    color: black;
    font-size: 12px;
    margin-right: 6px;
    display: flex;
    align-content: center;
    align-items: center;
  }
  .hidden {
    display: none;
  }
  .remember {
    margin-left: -2px;
  }
  .Forget {
    margin-left: 87px;
  }
  .Forget a {
    text-decoration: none;
    color: white;
  }
  .user-log-in button {
    cursor: pointer;
    width: 296px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 15px;
  }
  .user-log-in h5 {
    margin-left: 50px;
  }
  .user-log-in span {
    cursor: pointer;
    color: blueviolet;
  }
  .light-logo1 {
    width: 50%;
  }
  .light-logo1 {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    width: 65%;
    position: relative;
    left: 84px;
    top: -25px;
  }
  .light-logo {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    width: 43%;
    position: relative;
    left: 117px;
    top: -17px;
  }
  .log {
    margin-left: 47px;
  }
  .navbar-header {
    background: white;
    height: 87px;
    margin-bottom: 80px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  
  
  